/*
 * Created with TexturePacker Online (free version)
 * https://www.codeandweb.com/texturepacker-online
 *
 * TexturePacker desktop offers PNG compression and responsive CSS output.
 * Try TexturePacker desktop: https://www.codeandweb.com/texturepacker
 */
.chifuyu-walk-sheet {
    background-image: url("images/garden/chifuyu/chifuyu-walk-sheet.png");
    background-repeat: no-repeat;
    display: block;
}

.img-chifuyu-walk_00000 {
    width: 650px;
    height: 650px;
    background-position: -2px -2px;
}

.img-chifuyu-walk_00001 {
    width: 650px;
    height: 650px;
    background-position: -656px -2px;
}

.img-chifuyu-walk_00002 {
    width: 650px;
    height: 650px;
    background-position: -1310px -2px;
}

.img-chifuyu-walk_00003 {
    width: 650px;
    height: 650px;
    background-position: -1964px -2px;
}

.img-chifuyu-walk_00004 {
    width: 650px;
    height: 650px;
    background-position: -2618px -2px;
}

.img-chifuyu-walk_00005 {
    width: 650px;
    height: 650px;
    background-position: -2px -656px;
}

.img-chifuyu-walk_00006 {
    width: 650px;
    height: 650px;
    background-position: -656px -656px;
}

.img-chifuyu-walk_00007 {
    width: 650px;
    height: 650px;
    background-position: -1310px -656px;
}

.img-chifuyu-walk_00008 {
    width: 650px;
    height: 650px;
    background-position: -1964px -656px;
}

.img-chifuyu-walk_00009 {
    width: 650px;
    height: 650px;
    background-position: -2618px -656px;
}

.img-chifuyu-walk_00010 {
    width: 650px;
    height: 650px;
    background-position: -2px -1310px;
}

.img-chifuyu-walk_00011 {
    width: 650px;
    height: 650px;
    background-position: -656px -1310px;
}

.img-chifuyu-walk_00012 {
    width: 650px;
    height: 650px;
    background-position: -1310px -1310px;
}

.img-chifuyu-walk_00013 {
    width: 650px;
    height: 650px;
    background-position: -1964px -1310px;
}

.img-chifuyu-walk_00014 {
    width: 650px;
    height: 650px;
    background-position: -2618px -1310px;
}

.img-chifuyu-walk_00015 {
    width: 650px;
    height: 650px;
    background-position: -2px -1964px;
}

.img-chifuyu-walk_00016 {
    width: 650px;
    height: 650px;
    background-position: -656px -1964px;
}

.img-chifuyu-walk_00017 {
    width: 650px;
    height: 650px;
    background-position: -1310px -1964px;
}

.img-chifuyu-walk_00018 {
    width: 650px;
    height: 650px;
    background-position: -1964px -1964px;
}

.img-chifuyu-walk_00019 {
    width: 650px;
    height: 650px;
    background-position: -2618px -1964px;
}

.img-chifuyu-walk_00020 {
    width: 650px;
    height: 650px;
    background-position: -2px -2618px;
}

.img-chifuyu-walk_00021 {
    width: 650px;
    height: 650px;
    background-position: -656px -2618px;
}

.img-chifuyu-walk_00022 {
    width: 650px;
    height: 650px;
    background-position: -1310px -2618px;
}

.img-chifuyu-walk_00023 {
    width: 650px;
    height: 650px;
    background-position: -1964px -2618px;
}

.img-chifuyu-walk_00024 {
    width: 650px;
    height: 650px;
    background-position: -2618px -2618px;
}

.img-chifuyu-walk_00025 {
    width: 650px;
    height: 650px;
    background-position: -3272px -2px;
}

.img-chifuyu-walk_00026 {
    width: 650px;
    height: 650px;
    background-position: -3272px -656px;
}

.img-chifuyu-walk_00027 {
    width: 650px;
    height: 650px;
    background-position: -3272px -1310px;
}

.img-chifuyu-walk_00028 {
    width: 650px;
    height: 650px;
    background-position: -3272px -1964px;
}

.img-chifuyu-walk_00029 {
    width: 650px;
    height: 650px;
    background-position: -3272px -2618px;
}

.img-chifuyu-walk_00030 {
    width: 650px;
    height: 650px;
    background-position: -2px -3272px;
}

.img-chifuyu-walk_00031 {
    width: 650px;
    height: 650px;
    background-position: -656px -3272px;
}
