/*
 * Created with TexturePacker Online (free version)
 * https://www.codeandweb.com/texturepacker-online
 *
 * TexturePacker desktop offers PNG compression and responsive CSS output.
 * Try TexturePacker desktop: https://www.codeandweb.com/texturepacker
 */
.img {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.img-chifuyu-talk_00000 {
    width: 650px;
    height: 650px;
    background-position: -2px -2px;
}

.img-chifuyu-talk_00001 {
    width: 650px;
    height: 650px;
    background-position: -656px -2px;
}

.img-chifuyu-talk_00002 {
    width: 650px;
    height: 650px;
    background-position: -1310px -2px;
}

.img-chifuyu-talk_00003 {
    width: 650px;
    height: 650px;
    background-position: -1964px -2px;
}

.img-chifuyu-talk_00004 {
    width: 650px;
    height: 650px;
    background-position: -2618px -2px;
}

.img-chifuyu-talk_00005 {
    width: 650px;
    height: 650px;
    background-position: -3272px -2px;
}

.img-chifuyu-talk_00006 {
    width: 650px;
    height: 650px;
    background-position: -3926px -2px;
}

.img-chifuyu-talk_00007 {
    width: 650px;
    height: 650px;
    background-position: -2px -656px;
}

.img-chifuyu-talk_00008 {
    width: 650px;
    height: 650px;
    background-position: -656px -656px;
}

.img-chifuyu-talk_00009 {
    width: 650px;
    height: 650px;
    background-position: -1310px -656px;
}

.img-chifuyu-talk_00010 {
    width: 650px;
    height: 650px;
    background-position: -1964px -656px;
}

.img-chifuyu-talk_00011 {
    width: 650px;
    height: 650px;
    background-position: -2618px -656px;
}

.img-chifuyu-talk_00012 {
    width: 650px;
    height: 650px;
    background-position: -3272px -656px;
}

.img-chifuyu-talk_00013 {
    width: 650px;
    height: 650px;
    background-position: -3926px -656px;
}

.img-chifuyu-talk_00014 {
    width: 650px;
    height: 650px;
    background-position: -2px -1310px;
}

.img-chifuyu-talk_00015 {
    width: 650px;
    height: 650px;
    background-position: -656px -1310px;
}

.img-chifuyu-talk_00016 {
    width: 650px;
    height: 650px;
    background-position: -1310px -1310px;
}

.img-chifuyu-talk_00017 {
    width: 650px;
    height: 650px;
    background-position: -1964px -1310px;
}

.img-chifuyu-talk_00018 {
    width: 650px;
    height: 650px;
    background-position: -2618px -1310px;
}

.img-chifuyu-talk_00019 {
    width: 650px;
    height: 650px;
    background-position: -3272px -1310px;
}

.img-chifuyu-talk_00020 {
    width: 650px;
    height: 650px;
    background-position: -3926px -1310px;
}

.img-chifuyu-talk_00021 {
    width: 650px;
    height: 650px;
    background-position: -2px -1964px;
}

.img-chifuyu-talk_00022 {
    width: 650px;
    height: 650px;
    background-position: -656px -1964px;
}

.img-chifuyu-talk_00023 {
    width: 650px;
    height: 650px;
    background-position: -1310px -1964px;
}

.img-chifuyu-talk_00024 {
    width: 650px;
    height: 650px;
    background-position: -1964px -1964px;
}

.img-chifuyu-talk_00025 {
    width: 650px;
    height: 650px;
    background-position: -2618px -1964px;
}

.img-chifuyu-talk_00026 {
    width: 650px;
    height: 650px;
    background-position: -3272px -1964px;
}

.img-chifuyu-talk_00027 {
    width: 650px;
    height: 650px;
    background-position: -3926px -1964px;
}

.img-chifuyu-talk_00028 {
    width: 650px;
    height: 650px;
    background-position: -2px -2618px;
}

.img-chifuyu-talk_00029 {
    width: 650px;
    height: 650px;
    background-position: -656px -2618px;
}

.img-chifuyu-talk_00030 {
    width: 650px;
    height: 650px;
    background-position: -1310px -2618px;
}

.img-chifuyu-talk_00031 {
    width: 650px;
    height: 650px;
    background-position: -1964px -2618px;
}

.img-chifuyu-talk_00032 {
    width: 650px;
    height: 650px;
    background-position: -2618px -2618px;
}

.img-chifuyu-talk_00033 {
    width: 650px;
    height: 650px;
    background-position: -3272px -2618px;
}

.img-chifuyu-talk_00034 {
    width: 650px;
    height: 650px;
    background-position: -3926px -2618px;
}

.img-chifuyu-talk_00035 {
    width: 650px;
    height: 650px;
    background-position: -2px -3272px;
}

.img-chifuyu-talk_00036 {
    width: 650px;
    height: 650px;
    background-position: -656px -3272px;
}

.img-chifuyu-talk_00037 {
    width: 650px;
    height: 650px;
    background-position: -1310px -3272px;
}

.img-chifuyu-talk_00038 {
    width: 650px;
    height: 650px;
    background-position: -1964px -3272px;
}

.img-chifuyu-talk_00039 {
    width: 650px;
    height: 650px;
    background-position: -2618px -3272px;
}

.img-chifuyu-talk_00040 {
    width: 650px;
    height: 650px;
    background-position: -3272px -3272px;
}

.img-chifuyu-talk_00041 {
    width: 650px;
    height: 650px;
    background-position: -3926px -3272px;
}

.img-chifuyu-talk_00042 {
    width: 650px;
    height: 650px;
    background-position: -2px -3926px;
}

.img-chifuyu-talk_00043 {
    width: 650px;
    height: 650px;
    background-position: -656px -3926px;
}

.img-chifuyu-talk_00044 {
    width: 650px;
    height: 650px;
    background-position: -1310px -3926px;
}

.img-chifuyu-talk_00045 {
    width: 650px;
    height: 650px;
    background-position: -1964px -3926px;
}

.img-chifuyu-talk_00046 {
    width: 650px;
    height: 650px;
    background-position: -2618px -3926px;
}

.img-chifuyu-talk_00047 {
    width: 650px;
    height: 650px;
    background-position: -3272px -3926px;
}

.img-chifuyu-talk_00048 {
    width: 650px;
    height: 650px;
    background-position: -3926px -3926px;
}

.img-chifuyu-talk_00049 {
    width: 650px;
    height: 650px;
    background-position: -4580px -2px;
}

.img-chifuyu-talk_00050 {
    width: 650px;
    height: 650px;
    background-position: -4580px -656px;
}

.img-chifuyu-talk_00051 {
    width: 650px;
    height: 650px;
    background-position: -4580px -1310px;
}

.img-chifuyu-talk_00052 {
    width: 650px;
    height: 650px;
    background-position: -4580px -1964px;
}

.img-chifuyu-talk_00053 {
    width: 650px;
    height: 650px;
    background-position: -4580px -2618px;
}

.img-chifuyu-talk_00054 {
    width: 650px;
    height: 650px;
    background-position: -4580px -3272px;
}

.img-chifuyu-talk_00055 {
    width: 650px;
    height: 650px;
    background-position: -4580px -3926px;
}

.img-chifuyu-talk_00056 {
    width: 650px;
    height: 650px;
    background-position: -2px -4580px;
}

.img-chifuyu-talk_00057 {
    width: 650px;
    height: 650px;
    background-position: -656px -4580px;
}

.img-chifuyu-talk_00058 {
    width: 650px;
    height: 650px;
    background-position: -1310px -4580px;
}

.img-chifuyu-talk_00059 {
    width: 650px;
    height: 650px;
    background-position: -1964px -4580px;
}
